# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python-program\FeatureSelectionsAndExtractions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
